.row {
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
}
.jumbotran {
  margin-right: 15%;
  margin-left: 15%;
}
body {
  background-color: black;
  opacity: 0.8;
}
.card-header {
  font-family: "Merienda One", cursive;
  color: navy;
}
